@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    border: 0px;
    margin: 0px;
}

.logo{
    width: 150px;
    height: 50px;
    padding-top: 15px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 0px 0px 4px;
    height: 80px;
}

.title{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: #6d6d6d;
}

.login-links{
    margin-top: 10px;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    height: 420px;
    width: 100%;
    align-items: center
}

.employee-login,.teamlead-login{
    width: 200px;
    height: 200px;
    background-color: #067eed;
    font-family: 'Roboto', sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}
footer{
    text-align: center;
    font-family: 'Lato';
    color: #6d6d6d;
}