@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: Lato;
}

.modal{
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 255, 0.3);
    position: fixed;
    z-index: 2;
    top:0;
    left:0;
}

.modal-content{
  background-color: white;
  margin: 20% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  overflow: auto;
  border-radius: 10px
}